body {
  background-color: #444;
  color: #444;
  font-family: "Helvetica Neue";
  /*margin-left: 20px;*/
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
  overflow: hidden;
}

h1 {
  margin: auto;
  color: #fff;
}

#title {
  font-size: 35px;
}

input{
  border-radius: 10px;
  border: 2px solid #333;
  width: 250px;
  height: 50px;
  margin: 5px;
  font-size: 15px;
}

input:focus{
  outline: none;
  border: 3px solid orange;
}

#article {
  width:1100;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  margin: 10px auto;
}

#article div {
  margin: 0px 10px;
}

#article div.topic {
  padding-top: 10px;
}

#article div.url {
  padding-bottom: 10px;
}

.message {
  width: 300px;
}

/*button {
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  background-color: #7f6fcb;
  border-radius: 10px;
  border: 2px solid #333;
  color: white;
}
button:focus{
  outline:none;
}*/

.datamaps-bubble {

}


/*#map {*/
  /*background-color: #fff;
  border: 1px solid #ccc;*/
/*}*/
.background {
  fill: none;
  pointer-events: all;
}
#countries, #states {
  /*fill: #cde;*/
/*  stroke: #fff;*/
  stroke-linejoin: round;
  stroke-linecap: round;
}
/*#countries .active, #states .active {
  fill: #89a;
}
/*#cities {
  stroke-width: 0;
}*/
/*.city {
  fill: #345;
  stroke: #fff;
}*/
pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}

/**
 * INDEX STYLE
 */

.title {
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: 'Philosopher', sans-serif;*/
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 130px;
  display: inline;
}
.title-line {
  width: 80px;
  height: 7px;
  position: absolute;
  top: 139px;
  left: 259px;
  background-color: #F64E53;
  display: block;
}
img.heart {
  position: absolute;
  left: 255px;
  top: 55px;
  width: 90px;
}
/*.shadow {
  content:'';
  display:block;
  box-shadow:inset 0 0 20px black;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}​*/

/**
 * MAP STYLE
 */
#map {
  position: relative;
  /*z-index: -1000;*/
  box-shadow: 0 0 10px 0px #040404;
  width: 96%
}
.map-shadow-container {
  position: relative;
  width: 100%;
  box-shadow: inset 0px 0px 15px 15px #444444;
  width: 95%;
}
.fix-shadow {
  width: 100%;
  height: 2px;
}
/**
 * TOOLTIP STYLE 
 */

.tooltip {
  fill: none;
}
.tooltip-container {
  background-color: rgba(0,0,0,0.75);
  border-radius: 3%;
  padding: 10px;
  width: 460px;
  color: white; 
}
.tooltip .flag {
  width: 80px;
  height: 80px;
  /* position: relative; */
  padding: 0;
  margin: -50px 10% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  /* border-color: rgba(255,255,255,0.6); */
  /* outline: 2px solid white; */
  /* border-style: solid; */
  box-shadow: 0 0 0 3px rgba(255,255,255,0.8),;
  border-width: 5px;
  background-position: center center;
  box-sizing: border-box;
}
.tooltip-article {
  margin-top: -3px;
}

.tooltip-article,
.tooltip-charity {
  background-color: rgba(255,255,255,0.2);
  padding: 4px;
  border-radius: 3px;
}
.tooltip-charity {
  margin-top: 10px;
}

.tooltip hr {
  margin-right: -4px;
  margin-left: 10px;
  border: 1px solid rgba(255,255,255,0.4);
 -webkit-margin-after: 0;
 -webkit-margin-before: 0.3em;
}
.tooltip-article-header,
.tooltip-charity-header {
  padding-left: 10px;
  font-size: 14px;
}
.tooltip-article-content,
.tooltip-charity-content {
  padding-top: 5px;
  font-size: 11px;
}
.tooltip-title {
  margin-top: -20px;
}
.tooltip .flag {
  width: 80px;
  height: 80px;
  /* position: relative; */
  padding: 0;
  margin: -50px 10% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  /* border-color: rgba(255,255,255,0.6); */
  /* outline: 2px solid white; */
  /* border-style: solid; */
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.8),;
  border-width: 5px;
  background-position: center center;
  box-sizing: border-box;
}
.tooltip-article,
.tooltip-charity-box
 {
  background-color: rgba(255,255,255,0.2);
  padding: 4px;
  border-radius: 3px;
}
.tooltip-charity {
  margin-top: 10px;
}
.tooltip hr {
  margin-right: -4px;
  margin-left: 10px;
  border: 1px solid rgba(255,255,255,0.4);
}
.tooltip-article-header {
  padding-left: 10px;
}
.tooltip-charity-header {
  text-align: center;
  margin-top: 5px;
}

.tooltip-charity-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 7%;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.tooltip-article-content,
.tooltip-charity-content,
.hovertip {
  padding-top: 5px;
  font-size: 11px;
}
.tooltip-title {
  margin-top: -20px;
}
.tooltip-title-text {
  width: 100%;
  /*padding-top: 10px;*/
  text-align: center;
  -webkit-margin-before: 0;
   -webkit-margin-after: 0.5em;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 20px;
}
.tooltip-charity-title {
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  white-space: normal;
  text-transform: uppercase;
}
.tooltip .charity-description {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /*width: 100%;*/
  /*text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;*/
}
.tooltip .tooltip-charity-box:not(:nth-child(1)) .charity-description{
  -webkit-line-clamp: 3;
}
.tooltip .charity-more-link {
  float: right;
  font-style: italic;
  margin-right: 5px;
}
.tooltip ul {
  /*list-style-type: none;*/
  list-style-position:inside;
  -webkit-margin-before: 0em;
  -webkit-margin-after: .1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 7px;
}
.tooltip .tooltip-charity-content ul {
  -webkit-padding-start: 0px;
  -webkit-margin-end: 0px;
}
.tooltip li {
  width: 100%;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.tooltip li a {
  text-decoration: none;
  color: white;
}
.hovertip-container {
  padding-top: 80%;
  padding-left: 5%;
}
.hovertip-content {
  font-size: 7pt;
  float : right;
  text-align: center;
  color : white;
  background: rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 3px;
}
.tooltip li.tooltip-charity-box {
  /*position: relative;*/
  display: inline-block;
  width: 47%;
/*  margin-left: 5px;*/
  vertical-align: top;
}
.tooltip li.tooltip-charity-box:nth-child(1) {
  width: 98%;
}
.tooltip li.tooltip-charity-box:not(:nth-child(1)){
  margin-top: 10px;
  height: 80px;
}
.tooltip li.tooltip-charity-box:nth-child(3) {
  margin-left: 10px;
}

.breaking-news-container {
  background : rgba(255, 255, 255, .9);
  font-size: 8pt;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.4);
}

.country-name {
  font-weight: bold;
}

button {
  position: absolute;
  right : 1%;
  top : 120px;
  margin : 10px;
  height: 35px;
  font-size: 11pt;
  color: white;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 3px;
  padding: 5px;
}
