body {
  background-color: #444;
  color: #444;
  font-family: "Helvetica Neue";
  margin-left: 20px;
  margin-top: 20px;
}

h1 {
  margin: auto;
  color: #fff;
}

#title {
  font-size: 35px;
}

input{
  border-radius: 10px;
  border: 2px solid #333;
  width: 250px;
  height: 50px;
  margin: 5px;
  font-size: 15px;
}

input:focus{
  outline: none;
  border: 3px solid orange;
}

#map {
  width:1200;
  height:600;
  background-color: #a1b1d3;
  margin: auto;
  border-radius: 10px;
}

.message {
  width: 300px;
}

button {
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  background-color: #7f6fcb;
  border-radius: 10px;
  border: 2px solid #333;
  color: white;
}
button:focus{
  outline:none;
}

.datamaps-bubble {

}